<% if task.errors.any? %>
  <% task.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<ul>
<%= form_for(task) do |form| %>
  <li>
    <%= form.label :title, t("tasks.table.title") %>
    <%= form.text_field :title %>
  </li>

  <li>
    <%= form.label :description, t("tasks.table.description") %>
    <%= form.text_field :description %>
  </li>

  <li>
    <%= form.label :priority, t("tasks.table.priority") %>
    <%= form.select(:priority, options_for_select([[t("tasks.priority.low"), "low"],
                                                   [t("tasks.priority.medium"), "medium"], 
                                                   [t("tasks.priority.high"), "high"]])) %>
  </li>

  <li>
    <%= form.label :status, t("tasks.table.status") %>
    <%= form.select(:status, options_for_select([[t("tasks.status.pending"), "pending"],
                                                 [t("tasks.status.processing"), "processing"], 
                                                 [t("tasks.status.completed"), "completed"]])) %>
  </li>

  </li>

  <li>
    <%= form.label :start_time, t("tasks.table.start_time") %>
    <%= form.datetime_field :start_time %>
  </li>

  <li>
    <%= form.label :end_time, t("tasks.table.end_time") %>
    <%= form.datetime_field :end_time %>
  </li>

  <%= form.submit %>
<% end %>
</ul>