<h1><%= t("tasks.heading.index") %></h1>

<%= link_to t("order.created_asc"), tasks_path(order: "asc")%>
<%= link_to t("order.created_desc"), tasks_path(order: "desc")%>

<table>
  <thead>
    <tr>
      <th><%= t("tasks.table.title") %></th>
      <th><%= t("tasks.table.description") %></th>
      <th><%= t("tasks.table.priority") %></th>
      <th><%= t("tasks.table.status") %></th>
      <th><%= t("tasks.table.start_time") %></th>
      <th><%= t("tasks.table.end_time") %></th>
      <th><%= t("tasks.table.created_at") %></th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task %></td>
      <td><%= task.description %></td>
      <td><%= t("tasks.priority.#{task.priority}") %></td>
      <td><%= t("tasks.status.#{task.status}") %></td>
      <td><%= "#{task.start_time.strftime("%Y")}/#{task.start_time.strftime("%m")}/#{task.start_time.strftime("%d")} #{task.start_time.strftime("%H")}:#{task.start_time.strftime("%M")}" %></td>
      <td><%= "#{task.end_time.strftime("%Y")}/#{task.end_time.strftime("%m")}/#{task.end_time.strftime("%d")} #{task.end_time.strftime("%H")}:#{task.end_time.strftime("%M")}" %></td>
      <td><%= "#{task.created_at.strftime("%Y")}/#{task.created_at.strftime("%m")}/#{task.created_at.strftime("%d")}" %></td>
      <td><%= link_to t("link.edit"), edit_task_path(task) %></td>
      <td><%= link_to t("link.delete"), task, method: :delete, data: { confirm: "#{I18n.t("are_you_sure_to_delete", item: task.title)}" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>